/*GENERAL*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/*reset the page so no additional presets*/ 
* { 
    margin: 0;
    padding: 0;
    
    font-family: "Oxygen", monospace;
}
body {
    background-color: #070F2B;
}


/*Not instant transition, smooth transition instead when scrolling*/
html {
    scroll-behavior:smooth
}
.logo2 {
    height: 75%;
    width: 75%;
    padding-top: 30px;
    
}
/*DESKTOP NAVIGATION*/
/*Since flex is the display, it allows other divs and elements to wrap around*/
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;

}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;

}

a { 
    color: #ECF0F1;
    text-decoration: none;
    text-decoration-color: white;

}

a:hover {
    color: #7F8C8D;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    height: 2rem;
}
.logo:hover{
    cursor:default;
}


.main-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the content horizontally */
    padding: 0 20px; /* Add padding on the sides */
    box-sizing: border-box; /* Include padding in the width */
}
.card-content{
    text-align: center;
}

.content {
    width: 65%; /* Set a maximum width for the content */
    background-color: #1B1A55;
    padding: 20px;
    border-radius: 5px;
    overflow-wrap: break-word;
    color: rgb(217, 217, 217);
    
}
.card-description {
    padding-top: 20px;
}
.p1-heading {
    font-size: 3rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#0093E9, #80D0C7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p2-heading {
    font-size: 2rem;
    font-weight: 600;
}

.pad1 {
    padding-top: 15px;
    padding-bottom: 1px;
}

.pad2 {
    padding-top: 100px;
}

.card-container {
    display: flex;
    gap: 20px; /* Space between cards */
  }
  
.card {
    width: 300px;
    height: 400px; /* Adjust the height as needed */
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    position: relative;
    text-align: center;
    transform-style: preserve-3d; /* Ensures the children are rendered in a 3D space */
  }
.card:hover .card-inner {
    transform: rotateY(180deg); /* Flips the card on hover */
}
.card-front,
.card-back {
    width: 300px;
    height: 400px;
    position: absolute;
    backface-visibility: hidden; /* Hides the back of the card initially */
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-front {
    
    background-color: rgb(55, 149, 204);
 
  }
  
.card-back {
    background-color: rgb(55, 149, 204);
    text-align: center;
    transform: rotateY(180deg); /* Starts the back face flipped */
}

  

.card-content {
padding: 25px;
}
@media (max-width: 1024px)  {
.card-container {
    display: block;
}
} 

.card-desc {
   padding: 25px;

}
.project-section {
    display: flex;
      justify-content: center;
  
      height: 100vh;
}